.task-tool-bar {
  padding: 10px 30px 10px 10px;
}
.task-tool-bar_content {
  display: flex;
  border-radius: var(--radius);
  flex: 1 1;
  height: 50px;
  padding: 10px 15px;
  justify-content: flex-end;
  align-items: center;
}
.task-tool-bar .task-tool-icon {
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 20px;
  height: 100%;
  transition: all 0.6s;
}
.task-tool-bar .task-tool-icon:hover {
  transform: scale(1.2);
}
.task-tool-bar .task-list-icon {
  width: 21px;
}
.task-tool-bar .task-searcher {
  width: 200px;
}
