.main-menu {
  width: 20%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  padding: 130px 10px 60px;
  background: #fcfcfc;
  box-shadow: 0px 0px 6px 6px #c5c5db;
  z-index: 1;
}
.main-menu_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 10px 20px 10px;
}
.main-menu .menu-item {
  margin-bottom: 8px;
}
.logo {
  background: url('../../../resource/logo6.png') no-repeat center center;
  width: 20%;
  height: 120px;
  background-size: contain;
  position: fixed;
  left: 0;
  top: 0px;
}
