.task-list {
  flex: 1;
  background: #fcfcfc;
}
.task-list .add-task-container {
  padding: 10px;
  margin: 0 10px;
  border-radius: 3px;
  align-items: center;
  position: relative;
  height: 60px;
  transition: all 0.4s;
  border-radius: 4px;
  background: #fcfcfc;
  margin-top: 60px;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}
.task-list .add-task-container:hover {
  box-shadow: 0 0 2px 2px #c7c5c5ad;
}
.task-list .add-task-container--active {
  height: 90px;
}
.task-list .add-task-container .create-input {
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
}
.task-list .operation-btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.task-list .task-item {
  margin-bottom: 15px;
}
.task-list .task-item_container {
  overflow: auto;
  padding: 10px 10px;
  height: 500px;
}
