.card-container {
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 280px;
  width: 280px;
  background-color: white;
  margin: 10px;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-container:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.card-container_title {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.card-theme_green {
  background-color: #5ef3a4;
  background-image: linear-gradient(45deg, #5ef3a4 0%, #a0ff7d 100%);
}
.card-theme_green .card-container_title {
  color: white;
}
.card-theme_blue {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.card-theme_blue .card-container_title {
  color: white;
}
.card-theme_bluePink {
  background-color: #74EBD5;
  background-image: linear-gradient(270deg, #74EBD5 0%, #9FACE6 100%);
}
.card-theme_bluePink .card-container_title {
  color: white;
}
.card-theme_pinkBlueGreen {
  background-color: #D9AFD9;
  background-image: linear-gradient(225deg, #D9AFD9 0%, #97D9E1 100%);
}
.card-theme_pinkBlueGreen .card-container_title {
  color: white;
}
