.task-item{
    position: relative;
    // height: 80px;
    padding: 10px;
    // box-shadow: 0 0 1px 1px #dddadaad;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all .4s;
    border-radius: var(--radius);
    background: #fcfcfc;
    box-shadow: 5px 5px 10px #d1d1d1,-5px -5px 10px #ffffff;
    // height: 106px;
    
    &:hover{
        box-shadow: 0 0 2px 2px #c7c5c5ad;
    }

    &_main{
        display: flex;
        width:100%;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 5px;
    }
    &_detail{
        display: flex;
        width:100%;
        padding-top: 5px;
    }
    &_editor{
        display: flex;
        align-items: center;
        width:100%;
        padding-top: 5px;
        form{
            width: 80%;
        }
        .form-item{
            &_container{
                display: flex;;
                margin-bottom: 20px;
                .time-tags{
                    // padding-top: 20px;
                    flex-wrap: wrap;
                    .ant-picker{
                        margin-bottom: 8px;
                        width: 100%;
                    }
                }
            }
            &_icon{
                width: 65px;
                margin-left: 20%;
                margin-right: 20px;
                // display: flex;
                // align-items: center;
            }
            &_comp{
                flex: 1;
                // margin-bottom: 15px;
                // display: flex;
                // align-items: center;
                .ant-form-item{
                    margin-bottom: 0;
                }
            }
           
        }
        .ant-form-item-control-input-content{
            display: flex;
            align-items: center;
        }
        .submit-btn{
            // display: flex;
            // align-items: center;
            width: 200px;
            margin-left: 20%;
            border-radius: var(--radius);
            background-color: var(--mainColor);
            width: 100%;
        }
    }
    &--active{
        background: #F0F2FD;
        // color:#5656b4;
    }

    &_info{
        display: flex;
        flex-direction: column;
        flex: 1;
        transition: all .3s;     
        border-radius:var(--radius);
        margin-right: 10px;
        padding-left: 10px;
        &:hover{
            background-color: #f5f5f5;
        }
    }
    &_title{
        margin-bottom: 10px;
        font-size: 15px;
        &--timeout{
            color: #FC5531;
        }
    }
    &_desc{
        color:#7e7e7e;
        display: flex;
        align-items: center;
        font-size: 12px;
        border-right: 1px solid #e2e2e2;
        padding: 0 4px;
        label{
            margin-right: 4px;
        }
        &:last-child{
            border-right: none;
        }
    }
    &_status{
        display: flex;
        flex-direction: column;
        width: 100px;
    }
    &_ddl{
        color: var(--mainColor);
        background: #e7f4ff;

    }
    &_timeout{
        color: hsl(0, 0%, 99%);
        background: #FC5531;
        text-align: center;

    }
    &_finish-btn{
        border:none;
        background: var(--mainColor);
        color:white;
        border-radius:var(--radius);
        cursor: pointer;
        margin-bottom: 5px;
        transition: all .4s;
        &:hover{
            background-color: var(--mainHoverColor);
            border-color: var(--mainColor);
        }
    }
    &_del-btn{
        // margin-left: 10px;
        border:none;
        background: #e7f4ff;
        color:var(--mainColor);
        border-radius:var(--radius);
        cursor: pointer;
    }
    &_open{
        display: flex;
        flex: 1;
        flex-direction: column;
        // width: 100px;
        position: relative;
        &-btn{
            border:none;
            width: 100px;
            border-radius:var(--radius);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            background-color: transparent;
            padding-left: 10%;
        }
    }
}