.task-item {
  position: relative;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: var(--radius);
  background: #fcfcfc;
  box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
}
.task-item:hover {
  box-shadow: 0 0 2px 2px #c7c5c5ad;
}
.task-item_main {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
}
.task-item_detail {
  display: flex;
  width: 100%;
  padding-top: 5px;
}
.task-item_editor {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}
.task-item_editor form {
  width: 80%;
}
.task-item_editor .form-item_container {
  display: flex;
  margin-bottom: 20px;
}
.task-item_editor .form-item_container .time-tags {
  flex-wrap: wrap;
}
.task-item_editor .form-item_container .time-tags .ant-picker {
  margin-bottom: 8px;
  width: 100%;
}
.task-item_editor .form-item_icon {
  width: 65px;
  margin-left: 20%;
  margin-right: 20px;
}
.task-item_editor .form-item_comp {
  flex: 1;
}
.task-item_editor .form-item_comp .ant-form-item {
  margin-bottom: 0;
}
.task-item_editor .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}
.task-item_editor .submit-btn {
  width: 200px;
  margin-left: 20%;
  border-radius: var(--radius);
  background-color: var(--mainColor);
  width: 100%;
  border: var(--mainColor);
}
.task-item_editor .submit-btn:hover {
  background-color: var(--mainActiveColor);
}
.task-item--active {
  background: #F0F2FD;
}
.task-item_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all 0.3s;
  border-radius: var(--radius);
  margin-right: 10px;
  padding-left: 10px;
}
.task-item_info:hover {
  background-color: #f5f5f5;
}
.task-item_title {
  margin-bottom: 10px;
  font-size: 15px;
}
.task-item_title--timeout {
  color: #FC5531;
}
.task-item_desc {
  color: #7e7e7e;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-right: 1px solid #e2e2e2;
  padding: 0 4px;
}
.task-item_desc label {
  margin-right: 4px;
}
.task-item_desc:last-child {
  border-right: none;
}
.task-item_status {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.task-item_ddl {
  color: var(--mainColor);
  background: #e7f4ff;
}
.task-item_timeout {
  color: hsl(0, 0%, 99%);
  background: #FC5531;
  text-align: center;
}
.task-item_finish-btn {
  border: none;
  background: var(--mainColor);
  color: white;
  border-radius: var(--radius);
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.4s;
}
.task-item_finish-btn:hover {
  background-color: var(--mainActiveColor);
  border-color: var(--mainColor);
}
.task-item_del-btn {
  border: none;
  background: #e7f4ff;
  color: var(--mainColor);
  border-radius: var(--radius);
  cursor: pointer;
}
.task-item_open {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.task-item_open-btn {
  border: none;
  width: 100px;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  background-color: transparent;
  padding-left: 10%;
}
