:root {
  --mainColor: #43a9ec;
  --radius: 6px;
  --mainLinearGradient: linear-gradient(45deg, #8BC6EC 0%, #9599E2 100%);
  --mainLinearGradientHover: linear-gradient(180deg, #8BC6EC 0%, #9599E2 100%);
}
.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
}
.right-container {
  flex: 1 1 0%;
  background: #f8f8f8;
  padding: 0 20px;
}
.standard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.tag {
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 2px;
  margin: 0 4px;
}
