:root{
  --mainColor:#9599E2;
  // --mainColor:#43ec6a;
  --radius:6px;
  --mainActiveColor:#8BC6EC;
  // --mainActiveColor:#5ed35e;
  --mainLinearGradient:linear-gradient(45deg, var(--mainActiveColor) 0%, var(--mainColor) 100%);
  --mainLinearGradientHover: linear-gradient(180deg, var(--mainActiveColor) 0%, var(--mainColor) 100%);
  
}
*{
  font-family: HarmonyOS;
}

@font-face{
  font-family: HarmonyOS;
  src: url('../resource/HarmonyOS_Sans_SC_Regular.ttf');
}

.page{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container{
  display: flex;

}

.right-container {
  flex: 1 1 0%;
  background: rgb(248 248 248);
  padding: 0 20px;
}

.standard-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.tag{
  padding:2px 8px;
  border-radius: var(--radius);
  font-size: 12px;
  // width: 120px;
  margin-bottom: 2px;
  margin:0 4px;
}

//antd 主题样式覆盖

.ant-btn{
  color:var(--mainColor)
  &:hover{
    color: var(--mainActiveColor);
    border-color: var(--mainActiveColor);
  }
}

.ant-picker-input > input:hover{
  color: var(--mainActiveColor);
  border-color: var(--mainActiveColor);
}
.ant-input:hover,.ant-input-number:hover{
  border-color: var(--mainColor);
  // box-shadow: 0 0 0 2px var(--mainActiveColor);

}

.ant-input:focus,.ant-input-number-focused,.ant-input-focused{
  border-color: var(--mainColor);
  box-shadow: 0 0 0 2px var(--mainActiveColor);

}

